* {
    margin: 0;
    padding: 0;
}

html,
body {
    overscroll-behavior: none;
    -ms-overflow-style: none;
    color: white;
    scrollbar-width: none;
}

body {
    -webkit-overflow-scrolling: touch;
}

.navbar {
    position: fixed;
    height: 70px;
    z-index: 1000;
    background: radial-gradient(
        circle at top right,
        transparent,
        rgba(7, 175, 175, 0.249)
    );
}

.animate {
    position: relative;
    background: black !important;
}

/* Hide scrollbar for Chrome, Safari, Edge */
::-webkit-scrollbar {
    display: none;
}
